# =========================
# Odoo
# =========================

# Ignorar core de Odoo
odoo/odoo/

# Mantener addons propios
!odoo/custom_addons/

# Runtime
odoo/filestore/
odoo/sessions/

# =========================
# Base de datos
# =========================
data/*
*.db
*.sqlite3

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Entornos virtuales
# =========================
venv/
.env/

# =========================
# Config sensible
# =========================
config/odoo.conf

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS basura
# =========================
.DS_Store
Thumbs.db

odoo.pid