# Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.env/

# Logs
*.log
logs/

# Odoo runtime (no versionar datos temporales)
odoo/filestore/
odoo/sessions/

# Config sensible
config/odoo.conf

# Base de datos
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Odoo data (CRÍTICO)
data/*